.content {
    -fx-background-color: #2b2b2e;
    -fx-font-family: Consolas;
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: #9cb8ae;
    -fx-font-size: 16px;
}

.label {
    -fx-text-fill: #13e89a;
}

.text-field {
    -fx-background-color: #7a7a7a;
}

.text-field:focused {
    -fx-text-fill: #13e89a;
}

.list-view {
    -fx-background-color: black;
}

.list-cell {
    -fx-background-color: black;
    -fx-text-fill: #00d60e;
    -fx-font-size: 14px;
}